@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap');

::-webkit-scrollbar{
    width: 5px;
}

html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'Signika Negative', sans-serif;
}

a{
    text-decoration: none;
    color:black;
}

header{
    text-align: center;
    font-size: large;
    font-weight: bolder;

}

.logo{
    width:20px;
    height: 20px;
}




nav{
    position:fixed;
    top:0;
    left:0;
    min-width: 50px;
    width:50px;
    height:100%;
    min-height: 100vh;
    background-color: #fcfcfc;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    z-index: 5;
}



.navlogo{width:80%;
    object-fit: contain;
    padding:2px;
    margin-top: 5px;
}

.navlogo:hover{
    border: 1px solid #f8e3e7;
    border-radius: 50%;
}

.nav-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}


.navtab{
    width:100%;
    font-size: small;
    color:black;
    margin-top:20px;
}

.navtab img{
    width:80%;
    border: 1px solid #f8e3e7;
    border-radius: 50%;
    object-fit: contain;
    padding: 2px;
}

.user{
    width:100%;
    display: inline-block;
    min-height: 50px;
}

.prof-icon{
    border-radius: 50%;
    background-color: white;
    width:80%;
   
    
  
}

.user-drp-dwn{
    display: none;
    position: absolute;
    left:30px;
    bottom:40px;
    min-width: 200px;
    background-color: #fcfcfc;
    list-style-type: none;
    padding-top:10px;
    padding-bottom: 10px;
    border-radius: 5px;
    z-index: 5;
    opacity: 1;
}

.user-opt{
    padding:5px;
    z-index: 5;
}

.user-opt a{
    display: inline-block;
    width:100%;
}


.user-opt:hover{
    background-color: #e2e5e7;
}

.user:hover img +.user-drp-dwn{
    display: block;

}



.switch-interface{
    display: none;
}





main{
    position:relative;
    left:50px;
    width:calc(100% - 51px);
    /* min-height:calc(100vh - 50px); */
    height:100%;
    
}



.interface{
    display:none;
    min-height:80vh;
    height: 85vh;
   
}


#verify-interface-radio:checked ~ #verify-interface{
    
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-x: hidden;
    
}


#verifydonor-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width:300px;
    width:20%;
    border:1px solid #e1e1e2;
    min-height: 300px;
    border-radius: 5px;
    padding: 10px;
    margin:auto;
}
.data{
    width:95%;
    min-width: 260px;
}

.verify-data{
    padding:5px;
    border-radius: 5px;
    border:1px solid #e1e1e2;
    margin-top:10px;
    resize: none;
    width:100%;
    
}



#verifydonor-form em{
    width:100%;
   
    }

#verify-otp-btn{
    background-color: #d94645;
color:white;
font-size: large;
border:0;
border-radius: 3px;
margin-top:20px;
width:50%;
margin-left:auto;
margin-right:auto;
padding:5px;
}
























/*Storage Interface*/

#redeemcoupon-interface-radio:checked ~ #redeemcoupon-interface{
    display: flex;
     justify-content: space-between;
    flex-wrap: wrap;
    overflow-x: hidden;
}




.redeemform{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width:300px;
    width:20%;
    border:1px solid #e1e1e2;
    min-height: 300px;
    border-radius: 5px;
    padding: 10px;
    margin:auto;
    
/*    border:1px solid #e1e1e2;
    padding:20px;
    min-width: 250px;
    width:25vw;*/
}

.redeem{
     width:95%;
    min-width: 260px;
}

.redeem-input-data{
    padding:5px;
    border-radius: 5px;
    border:1px solid #e1e1e2;
    margin-top:10px;
    resize: none;
    width:98%;
}

.confirm-redeem{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    width:100%;
    
}

#redeemcouponcheck{
    margin-right: 5px;
}

.redeem-coupon-btn{
    margin-left:auto;
    margin-right:auto;
     padding:5px;
    border-radius: 5px;
    border:1px solid #e1e1e2;
    margin-top:10px;
    resize: none;
    width:80%;
     background-color: #f36666;
     color:white;
}






/*Event Interface*/
#event-interface-radio:checked ~ #event-interface{
    display: flex;
    /*flex-direction: column;*/
    width:100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    overflow-y: scroll;
}






.input-data{
    padding:5px;
    border-radius: 5px;
    border:1px solid #e1e1e2;
    margin-top:10px;
    resize: none;
    width:80%;
}



 /*Event*/

 .event{
     width:40%;
     height:100%;
     min-width:300px;
     overflow: hidden;
     overflow-y: scroll;
 }

.planevent{
    border:1px solid #e1e1e2;
    padding:20px;
    min-width: 250px;
    /*width:25vw;*/
    width:48%;
}

.eventform{
    width:100%;
    display:flex;
    flex-direction: column;
    flex-wrap:nowrap;
    align-items: center;
}

.planevent-data{
    padding:5px;
    border-radius: 5px;
    border:1px solid #e1e1e2;
    margin-top:10px;
    resize: none;
    width:95%;
}


.pdate,.ptime{
    padding:10px;
    display:flex;
    flex-wrap:wrap;
}
.pdate span{
    padding:5px;
    border-radius: 5px;
    margin-top:10px;
    resize: none;
    width:48%;
    display:inline-block;
    text-align: center;
}

.ptime p{
    width:100%;
    text-align: center;
}
.pdated,.ptimed{
    padding:5px;
    border-radius: 5px;
    border:1px solid #e1e1e2;
    margin-top:10px;
    resize: none;
    width:48%;
    display:inline-block;
    text-align: center;
}




.confirm-event{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    width:100%;
    
}

#planeventcheck{
    margin-right: 5px;
}

.plan-event-btn{
    margin-left:auto;
    margin-right:auto;
     padding:5px;
    border-radius: 5px;
    border:1px solid #e1e1e2;
    margin-top:10px;
    resize: none;
    width:80%;
     background-color: #f36666;
     color:white;
}

.plannedevents{
    width:100%;
    padding:10px;
    min-width:250px;
}

.plannedevents-container{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.plannedevent{
    width:100%;
    margin-top: 5px;
    padding:10px;
    border-radius: 5px;
    border: 1px solid #f8e3e7;
}

.plannedevent summary{
    width:100%;
    min-width: 100%;
}
.deleteevent{
    float:right;
    color:white;
    background-color: #f36666;
    padding:5px;
    border-radius: 5px;
}
.deleteevent:hover{
    background-color: #d94645;
}

.eventduration{
    display:flex;
    flex-wrap:nowrap;
    justify-content: space-between;
    max-width:400px;
}
.eventduration em,.eventduration span{
    display:inline-block;
  
    

}




/* event over*/


footer{
    height:10vh ;
    z-index: 2;
    background-image: linear-gradient(to bottom,#e2e5e7,#fcfcfc);
}

.copyright{
    padding:10px;
    text-align: center;
    color:black;
}








