<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RCContactServlet</servlet-name>
        <servlet-class>com.mycompany.redconnection.RCContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSignupServlet</servlet-name>
        <servlet-class>com.mycompany.redconnection.UserSignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.mycompany.redconnection.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InstituteLoginServlet</servlet-name>
        <servlet-class>com.mycompany.redconnection.InstituteLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InstituteSignupServlet</servlet-name>
        <servlet-class>com.mycompany.redconnection.InstituteSignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.mycompany.redconnection.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordAssistanceServlet</servlet-name>
        <servlet-class>com.mycompany.redconnection.PasswordAssistanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificationServlet</servlet-name>
        <servlet-class>com.mycompany.redconnection.VerificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePasswordServlet</servlet-name>
        <servlet-class>com.mycompany.redconnection.CreatePasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RCContactServlet</servlet-name>
        <url-pattern>/RCContactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSignupServlet</servlet-name>
        <url-pattern>/UserSignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InstituteLoginServlet</servlet-name>
        <url-pattern>/InstituteLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InstituteSignupServlet</servlet-name>
        <url-pattern>/InstituteSignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordAssistanceServlet</servlet-name>
        <url-pattern>/PasswordAssistanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificationServlet</servlet-name>
        <url-pattern>/VerificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePasswordServlet</servlet-name>
        <url-pattern>/CreatePasswordServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
